<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dev.da.maratona">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camara" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/NewTheme">
        <activity android:name=".InicioActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         <activity android:name=".LoginActivity" />
        <activity
            android:name=".MenuAlunoActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/NewTheme" />
        <activity
            android:name=".MenuAdminActivity"
            android:label="@string/title_activity_menu_admin"
            android:screenOrientation="portrait"
            android:theme="@style/NewTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".IndividualActivity"></activity>
    </application>

</manifest>